---
layout: default
---

<header class="post-header" data-grid="row nowrap">
  <h1 class="post-title">{% if page.titulo %}{{ page.titulo }}{% else if page.title %}{{ page.title }}{% endif %}</h1>
  <div data-cell="shrink">
    <div>Turmas:</div>
    {% for t in page.turmas %}
    <label for="{{ t.id }}" data-toggle>{{ t.nome }}</label>
    {% endfor %}
  </div>
</header>

<div class="post-content">
  {{ content }}
</div>

<div class="home post-list" data-grid="cols-2">
{% for t in page.turmas %}
  <input type="radio" name="turmas" id="{{ t.id }}" data-toggle{% if forloop.first %} checked{% endif %}>
{% endfor %}

{% for turma in page.turmas %}
  <section data-turma="{{ turma.id }}" data-grid="spacing cols-2">
  {% for post in site.textos %}{% assign crumbs = post.url | split: '/' %}{% if crumbs[1] == page.name and crumbs[2] == turma.id %}
    <article>
      <p class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">{% if post.titulo %}{{ post.titulo }}{% else %}{{ post.title }}{% endif %}</a></p>
      <p class="post-meta">
        {{ post.nome }}
        <span class="right">{{ turma.nome }}</span>
      </p>
      <p>{{ post.excerpt | truncatewords: 15 }}</p>
    </article>
  {% endif %}{% endfor %}
  </section>
{% endfor %}
</div>
